<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <title>GDSub Blog Translator</title>
</head>
<body class="is-preload">
<div id="page-wrapper">
    <div class="aln-center row gtr-50">
        <section class="off-1-narrow col-6 col-12-narrower">


        <form>
            <div class="col-12">

            <progress id="progress" max="100" value="0"></progress>
            <div class="col-6-normal">
                <h3>File Not Found.</h3>

            </div>
            </div>
        </form>

        </section>
    </div>
</div>
</body>

</html>