<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/assets/css/404.css" />
    <link rel="stylesheet" href="../public/assets/css/main.css" />
    <title>GDSub Blog Translator</title>
</head>
<section class="page_404">

    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="col-10 aln-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404<br/> File Not Found.</h1>

                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            please contact site administrator.
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</html>